.App {
  text-align: center;
}
    .Head{
      height: 50px;
      background: black;
      color: red;
    }
    .Foot{
      position: fixed;
      bottom: 0px;
    }

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


@keyframes slidein {
  from {
    /* margin-left: 100px; */
    width: 600px; 
    opacity: 0;
  }
  
  to {
    
    /* margin-left: auto; */
    width: 400px;
    opacity: 1;
  }
}
